* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    margin: 0;
    max-width: 100%;
}

.main-container {
    width: 100%;
    height: auto;
}

.title-text {
    font-size: 3rem;
    font-weight: bolder;
    margin: 0;
}

.cariologo {
    width: 250px;
}

a>.cariologo {
    width: 80px;
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 5%;
    background-color: black;
    z-index: 100;
    position: fixed;
}

.main-container {
    padding-top: 2%;
}

.scroll-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 5%;
    background-color: black;
}

.brand-name {
    font-weight: bolder;
}

.banner>* {
    padding-left: 1.5rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.main-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.create-new {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 2s ease;
}

.contact-card {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-new>button {
    margin-top: 1rem;
}

.create-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 0.2rem;
}

.create-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 0.2rem;
}

.card {
    border: #BEADFA 1px solid;
    border-radius: 15px;
    padding: 1rem;
    box-sizing: border-box;
}

#warning {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    opacity: 0;
    transition: opacity 2s ease;
}

.important-text {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.banner>.links {
    font-weight: lighter;
}

a:hover,
a:visited,
a:link,
a:active {
    color: white;
    text-decoration: none;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

input {
    height: 1.5rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    background-color: rgba(255, 255, 255, 0.226);
}

input:focus {
    outline: none;
}

label {
    font-weight: bolder;
}

button {
    background-color: #0000006c;
    border: 1px solid rgba(255, 255, 255, 0.24);
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: lighter;
    border-radius: 10px;
}

.footer {
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    background: rgb(0, 0, 0);
    background-image: radial-gradient(rgba(255, 255, 255, 0.356) 1px, transparent 0);
    background-size: 14px 14px;
    background-position: -19px -19px;
}

.footer>* {
    padding-right: 0.8rem;
}

.author {
    background-color: black;
    font-weight: bolder;
}

.car-page {
    position: relative;
    width: 100%;
    height: 50%;
    padding: 100px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    animation: slideInFromTop 2s ease-in-out;
}

#upload-photo-button {
    position: absolute;
    bottom: 6%;
    right: 2%;
}

.create-left>input {
    text-align: center;
}

.create-right>input {
    text-align: center;
}

.create-new>input {
    text-align: center;
}

@keyframes mv {
    100% {
        background-position: 22px 22px;
    }
    50% {
        background-position: -22px -22px;
    }
    0% {
        background-position: 22px 22px;
    }
}

#save-desc {
    display: none;
}

#car-manumodel {
    font-size: 8rem;
    font-weight: bolder;
    margin: 0;
}

.other-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
}

#title-sub-text {
    font-size: 1.2rem;
    font-weight: lighter;
}

#blob {
    height: auto;
    max-width: 100%;
}

.panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    height: 20%;
    padding: 10px;
    box-sizing: border-box;
}

#home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    text-align: center;
    animation: slideInFromTop 2s ease-in-out;
}

.gallery-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 300px;
    margin-bottom: 5%;
    background-color: #232d369c;
}

.n {
    border: 1px rgba(255, 255, 255, 0.514) solid;
    max-width: 10%;
    height: auto;
    border-radius: 15px;
}

#add-photo {
    border-radius: 15px;
    border: 1px rgba(255, 255, 255, 0.514) solid;
    padding: 10px;
    box-sizing: border-box;
}

.info-cards {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    height: fit-content;
    background-color: #232d369c;
    border-radius: 15px;
    animation: slideInFromTop 2s ease-in-out;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes scroll {
    0% {
        transform: translateY(10%);
        opacity: 100%;
    }
    50% {
        transform: translateY(-10%);
        opacity: 100%;
    }
    100% {
        transform: translateY(10%);
        opacity: 100%;
    }
}

.anim {
    animation: scroll 2s linear infinite;
}

.other-info>#car-owner {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

#scroll-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slideInFromTop 2s ease-in-out;
}

#car-desc {
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0;
}

#scroll-info>p {
    padding-left: 0;
}

.other-info>#car-owner {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.log-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;
    gap: 10px;
}